@*
    //Nâng cấp đx k?
*@
@model PE2022test.Models.Author

@{  
    ViewData["Title"] = "Edit Author";  
}  
<h2>Edit</h2>  
<h4>Author</h4>  
<hr />  
<div class="row">  
    <div class="col-md-4">  
        <form asp-action="AuthorEdit">  
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>  
            <input type="hidden" asp-for="Author_ID" />  
            <div class="form-group">  
                <label asp-for="Author_fname" class="control-label"></label>  
                <input asp-for="Author_fname" class="form-control" />  
                <span asp-validation-for="Author_fname" class="text-danger"></span>  
            </div>  
            <div class="form-group">  
                <label asp-for="Author_lname" class="control-label"></label>  
                <input asp-for="Author_lname" class="form-control" />  
                <span asp-validation-for="Author_lname" class="text-danger"></span>  
            </div>             
            <div class="form-group">  
                <input type="submit" value="Save" class="btn btn-default" />  
            </div>  
        </form>  
    </div>  
</div>  
<div>  
    <a asp-action="AuthorIndex">Back to List</a>  
</div>  
@section Scripts {  
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}  
}