@*
 
*@
@model PE2022test.Models.Payment
  
@{  
    ViewData["Title"] = "Create new bill";  
}  
<h2>Create</h2>  
<h4>BILL</h4>  
<hr />  
<div class="row">  
    <div class="col-md-4">  
        <form asp-action="PaymentCreate">  
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>  
            <div class="form-group">  
                <label asp-for="Payment_ID" class="control-label"></label>  
                <input asp-for="Payment_ID" class="form-control" />  
                <span asp-validation-for="Payment_ID" class="text-danger"></span>  
            </div>  
           <div class="form-group">  
                <label asp-for="Customer_ID" class="control-label"></label>  
                <input asp-for="Customer_ID" class="form-control" />  
                <span asp-validation-for="Customer_ID" class="text-danger"></span>  
            </div>
            <div class="form-group">  
                <input type="submit" value="Issue an invoice" class="btn btn-default" />  
            </div>  
        </form>  
    </div>  
</div>  
<div>  
    <a asp-action="PaymentIndex">Back to list BILLs</a>  
</div>  
@section Scripts {  
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}  
}