@*
 
*@
@model PE2022test.Models.Review
  
@{  
    ViewData["Title"] = "Create new review";  
}  
<h2>Create</h2>  
<h4>Review</h4>  
<hr />  
<div class="row">  
    <div class="col-md-4">  
        <form asp-action="ReviewCreate">  
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>  
            <div class="form-group">  
                <label asp-for="ISSNum" class="control-label"></label>  
                <input asp-for="ISSNum" class="form-control" />  
                <span asp-validation-for="ISSNum" class="text-danger"></span>  
            </div>  
           <div class="form-group">  
                <label asp-for="IDBook" class="control-label"></label>  
                <input asp-for="IDBook" class="form-control" />  
                <span asp-validation-for="IDBook" class="text-danger"></span>  
            </div>   
            <div class="form-group">  
                <label asp-for="Review_date" class="control-label"></label>  
                <input asp-for="Review_date" class="datetime" />  
                <span asp-validation-for="Review_date" class="text-danger"></span>  
            </div>  
            <div class="form-group">  
                <label asp-for="Review_context" class="control-label"></label>  
                <input asp-for="Review_context" class="form-control" />  
                <span asp-validation-for="Review_context" class="text-danger"></span>  
            </div> 
            <div class="form-group">  
                <label asp-for="Review_star" class="control-label"></label>  
                <input asp-for="Review_star" class="form-control" />  
                <span asp-validation-for="Review_star" class="text-danger"></span>  
            </div> 
            <div class="form-group">  
                <input type="submit" value="ReviewCreate" class="btn btn-default" />  
            </div>  
        </form>  
    </div>  
</div>  
<div>  
    <a asp-action="ReviewIndex">Back to List</a>  
</div>  
@section Scripts {  
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}  
}